* {
  font-family: 'Avenir', 'Poppins', Arial, sans-serif;
}

body {
  background-color: $darker;
  color: $light;
}

.form-control {
  color: $light !important;
  background: none !important;
  border-color: $main !important;
  &:focus {
    background: none;
    border-color: $main-light;
    box-shadow: 0 0 0 0.2rem rgba(207, 183, 255, 0.25);
  }
  &::placeholder {
    color: $light;
    opacity: 1;
  }
}

.flex-center {
  @include flex-center();
}

.flex-center-column {
  @include flex-center-column();
}

.btn,
.alert,
.form-control {
  border-radius: 2px !important;
}

a {
  color: $main-light;
  &:hover {
    color: $main;
  }
}

.btn-main {
  color: $dark;
  background-color: $main;
  border-color: $main-dark;
  &:hover {
    background-color: $main-dark;
  }
  &:disabled {
    color: $dark;
    background-color: $main;
    border-color: $main-dark;
  }
}

.btn-pure-light {
  @include btn-pure($light);
}

.btn-pure-dark {
  @include btn-pure($dark);
}

.bg-dark {
  background-color: $dark !important;
}

.bg-darker {
  background-color: $darker !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-lighter {
  background-color: $lighter !important;
}

.bg-main {
  background-color: $main !important;
}

.bg-success {
  background-color: $success !important;
}

.bg-warning {
  background-color: $warning !important;
}

.bg-danger {
  background-color: $danger !important;
}

.text-main {
  color: $main !important;
}

.text-success {
  color: $success !important;
}

.text-warning {
  color: $warning !important;
}

.text-danger {
  color: $danger !important;
}

.no-results {
  font-size: 16pt;
  text-align: center;
  font-weight: 500;
  .term {
    color: $main;
  }
}
