$black: #000;
$dark: #111;
$darker: #333;
$dark-low: #666;
$light-low: #999;
$lighter: #bbb;
$light: #ddd;
$white: #fff;

$main: #b08cf9;
$main-dark: #5e4b86;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center();
  flex-direction: column;
}
