$black: #000;
$dark: #111;
$darker: #333;
$dark-low: #666;
$light-low: #999;
$lighter: #bbb;
$light: #ddd;
$white: #fff;

$main: #b08cf9;
$main-dark: #5e4b86;
$main-light: #cfb7ff;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center();
  flex-direction: column;
}

@mixin btn-pure ($color) {
  border: none;
  color: $color;
  box-shadow: none;
  background-color: transparent;
  transition: .4s;
  &:hover {
    opacity: .6;
    border: none;
    box-shadow: none;
  }
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.animate-loading {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: animate-loading;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animate-loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
