@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import 'variables';

* {
  font-family: 'Avenir', 'Poppins', Arial, sans-serif;
}

body {
  background-color: $darker;
  color: $light;
}

.flex-center {
  @include flex-center();
}

.flex-center-column {
  @include flex-center-column();
}

.btn,
.alert,
.form-control {
  border-radius: 2px !important;
}

a {
  color: $main-light;
  &:hover {
    color: $main;
  }
}

.btn-main {
  color: $dark;
  background-color: $main;
  border-color: $main-dark;
  &:hover {
    background-color: $main-dark;
  }
  &:disabled {
    color: $dark;
    background-color: $main;
    border-color: $main-dark;
  }
}

.form-authentication {
  text-align: left;
  .form-group-submit {
    border-top: 1px solid $light;
    padding-top: 15px;
    text-align: center;
    .btn {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  .form-control {
    background: none;
    border-color: $main;
    color: $light;
    &::placeholder {
      color: $light;
      opacity: 1;
    }
  }
}
